<section>
    <h2>Product Description</h2>

    <div class="product-img">
        <figure class="figure">
            <img src="{{ product.smllimg }}" class="figure-img img-fluid rounded ">
            <figcaption class="figure-caption">
                <p>Title : {{product.title}}</p>
                <p>Price : {{product.price}}</p>
                <p>Details {{product.details}}</p>
            </figcaption>
        </figure>
    </div>

</section>